<!DOCTYPE html>
<html>
  <head>
    <title>社区生活管家</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/topbar' %>

    <div class='container'>
      <%= render 'layouts/flash_message' %>
      <%= yield %>
    </div>
  </body>
</html>
